<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home" %></li>
          <li><%= link_to "About" %></li>
          <li><%= link_to "Criteria" %></li>
          <li><%= link_to "Funds" %></li>
          <li><%= link_to "Discuss" %></li>
          <li><%= link_to "Technical" %></li>
          <li><%= link_to "Contact" %></li>
          <li><%= link_to "Links" %></li>        </ul>
      </nav>
    </div>
  </div>
</header>
